{% extends "admin/change_list.html" %}

{# Appended after the object tools rather than prepended to the content block:
   .object-tools is floated with margin-top:-48px, so anything above it in the
   flow gets the "Add user" button pulled down on top of it. #}
{% block object-tools %}
{{ block.super }}
<p style="clear: right; margin: 0 0 1em;">
  The <em>Has password</em>, <em>Pending approval</em> and <em>Suspended</em> columns
  combine into four account states &mdash;
  <a href="{% url 'admin_help' %}">what they mean and what to do about each</a>.
</p>
{% endblock %}
