{% extends "vald/base.html" %}

{% block content %}
<hr><h3>Account details</h3><hr>

<form name="accountform" method="post" action="{% url 'vald:account' %}">
  {% csrf_token %}
  <table border=0 cellpadding=2 width="80%">

    <tr><td width="25%">Full name :
        <td><em>{{ user_name }}</em>
    <tr><td>Email address :
        <td><em>{{ user_email }}</em>
    <tr><td colspan=2><i>Please contact the VALD administrator if your name or
        email address needs to be changed.</i>

    <tr><td colspan=2><hr>

    <tr><td valign="top">{{ form.affiliation.label }} :
        <td>{{ form.affiliation }}<br>{{ form.affiliation.help_text }}

    <tr><td colspan=2><hr>

    <tr><td colspan=2><input type="submit" value="Save details">
    <tr><td colspan=2><p><i>Your affiliation is stored with your account and is
        visible to the VALD administrators only.</i>

  </table>
</form>
{% endblock %}
