{% load static %}<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>{{ sitename }}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
<table border="0" cellspacing="0" cellpadding="5px" width="100%">
<tr>
<td class="version" valign="top">
    <h3>Server: {{ sitename }}</h3>
</td>
<td class="topframe">
    {% block topframe %}
    {% if user_email %}
    <h2>Welcome to VALD3</h2>
    <table border="0" cellspacing="0" cellpadding="0">
      <tr><td>Logged in as:  &nbsp; <td><em>{{ user_name }}</em><br>
      <tr><td>Email address:    &nbsp; <td><em>{{ user_email }}</em> <br>
    </table>

    <br><p><form action="{% url 'vald:index' %}" method="post" name="topform">
      {% csrf_token %}
      <input type="hidden" name="page" value="none">

      <table border="0" cellspacing="1" cellpadding="0">

        <tr><td><input type="button" value="Show Line" onClick="page.value='showline'; submit();">
            <td><input type="button" value="Show Line ONLINE" onClick="page.value='showline-online'; submit();">
            <td><input type="button" value="Extract All" onClick="page.value='extractall'; submit();">
            <td><input type="button" value="Extract Element" onClick="page.value='extractelement'; submit();">
            <td><input type="button" value="Extract Stellar" onClick="page.value='extractstellar'; submit();">
            <td width=30px>&nbsp;</td>
            <td><a href="{% url 'vald:my_requests' %}"><input type="button" value="My Requests"></a>
            <td><input type="button" value="Logout" onClick="page.value='logout'; submit();">

      </table>

    </form>
    {% else %}
    <h2>Welcome to VALD3</h2>
    <form name="regform" method="post" action="{% url 'vald:login' %}">
      {% csrf_token %}
      <table border="0" cellspacing="0" cellpadding="0">
        <tr><td nowrap>Email address :
            <td nowrap>
        <tr><td><input type="text" name="user" value="" size=45>
        <tr><td>Password :
            <td nowrap>
        <tr><td><input type="password" name="password" value="" size=45>
        <tr><td colspan=2><i>(No password yet? Leave it blank to set up.)</i>
        <tr><td><br><input type="submit" value="Login">
      </table>
    </form>
    {% endif %}
    {% endblock %}
</td>
</tr>

<tr>
<td class="navigate">
    <table class="navigate" width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr><td height="10px"> </td></tr>
      <tr><td height="10px"><b>Info</b> </td></tr>
      <tr><td height="10px"> </td></tr>
      <tr><td class="navigateitem"> <a href="{% url 'vald:documentation' 'contact.html' %}">&nbsp; Registration & Contact</a> </td></tr>
      <tr><td class="navigateitem"> <a href="{% url 'vald:documentation' 'about_vald.html' %}">&nbsp; About VALD       </a> </td></tr>
      <tr><td class="navigateitem"> <a href="http://www.astro.uu.se/valdwiki">&nbsp; Documentation    </a> </td></tr>
      <tr><td class="navigateitem"> <a href="{% url 'vald:news' 0 %}">&nbsp; News </a> </td></tr>
      <tr><td height="10px"> </td></tr>
      <tr><td height="10px"><b>VALD3 Mirror Servers</b> </td></tr>
      <tr><td height="10px"> </td></tr>
      <tr><td class="navigateitem"> <a href="http://vald.astro.uu.se/~vald/php/vald.php">&nbsp; VALD3 Mirror Uppsala </a> </td></tr>
      <tr><td class="navigateitem"> <a href="http://vald.oreme.org/~vald/php/vald.php">&nbsp; VALD3 Mirror Montpellier </a> </td></tr>
      <tr><td class="navigateitem"> <a href="http://vald.inasan.ru/~vald3/php/vald.php">&nbsp; VALD3 Mirror Moscow </a> </td></tr>
      <tr><td height="10px"> </td></tr>
    </table>
</td>
<td class="content">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% block content %}
    {% endblock %}
</td>
</tr>
</table>
</body>
</html>
