{% extends "vald/base.html" %}

{% block content %}
<hr><h3>Registration</h3>

<p>If you would like to <b>register as a new user</b>, please complete the form below.</p>
<p>After submitting your registration, an administrator will review and approve your account. You will receive
an email with instructions to set your password once approved.</p>


<i>Note that your registration will only be valid for the current VALD mirror you are registering at.
If you want to use the service on other servers, you will need to register for each  separately.</i>

<p><form name="registrationform" method="post" action="{% url 'vald:submit_request' %}">
  {% csrf_token %}
  <table>
    <input type="hidden" name="reqtype" value="registration">
    <tr><td colspan=2>
    <tr><td>{{ registration_form.email.label }} : <td>{{ registration_form.email }}
    <tr><td>{{ registration_form.name.label }} : <td>{{ registration_form.name }}
    <tr><td>{{ registration_form.affiliation.label }} : <td>{{ registration_form.affiliation }}
    <tr><td>{{ registration_form.position.label }} : <td>{{ registration_form.position }} {{ registration_form.position.help_text }}
    <tr><td colspan=2>
    <tr><td>{{ registration_form.privacy_accepted }}<td>
    By submitting a registration through the form above, you give us permission to process and store<br>
    your personal data to comply with your request. Your name, email address and affiliation will be<br>
    stored on our servers, which are distributed around the world.
    <tr><td colspan=2>
    <tr><td><input type="submit" value="Register">
    </table>
</form>

<hr><h3>Contact</h3>

<p>If you would like to <b>contact one of the managers of VALD</b>, please use this form.

<p><form name="contactform" method="post" action="{% url 'vald:submit_request' %}">
  {% csrf_token %}
  <table>
    <input type="hidden" name="reqtype" value="contact">
    <tr><td colspan=2>
    <tr><td>Your email : <td>{{ form.contactemail }}
    <tr><td>To : <td>{{ form.manager }}
    <tr><td valign="top">Your message :
        <td>{{ form.message }}
    <tr><td colspan=2>
    <tr><td>{{ form.permission }}<td>
    By submitting a request for information through the form above, you give us permission<br>
    to process and store your personal data to comply with your request.
    {{ form.privacy_statement }}
    <tr><td colspan=2>
    <tr><td><input type="submit" value="Send message">
    </table>
</form>
{% endblock %}
