{% extends "vald/base.html" %}

{% block content %}
<form name="bottomform" method="post" action="{% url 'vald:submit_request' %}">
{% csrf_token %}
<hr><h3>Extract Element</h3><hr>

<table border=0 cellpadding=0 width="100%">
<tr valign=top>
<td width="64%">

<table border=0 cellpadding=0 width=100% class="requestform">
<colgroup><col width="265"><col></colgroup>

<p><tr><td>Starting <span class="wavelabel1">wavelength</span> :
<td>{{ form.stwvl }} <span class="wavelabel2">&Aring;</span>

<tr><td>Ending <span class="wavelabel1">wavelength</span> :
<td>{{ form.endwvl }} <span class="wavelabel2">&Aring;</span>

<tr><td>Element [ + ionization ] : <td>{{ form.elmion }}

<tr><td>Extraction format : <td>
{% for radio in form.format %}<div>{{ radio }}</div>{% endfor %}

<tr><td>Retrieve data via
<td>{% for radio in form.viaftp %}<div>{{ radio }}</div>{% endfor %}
<tr><td colspan=2><hr>
<tr><td>Hyperfine structure<td>{{ form.hfssplit }} Include HFS splitting
<tr><td colspan=2><hr>
<tr><td>Require lines to have a known value of : <td>
{{ form.hrad }} Radiative damping constant

<tr><td><td>{{ form.hstark }} Stark damping constant

<tr><td><td>{{ form.hwaals }} Van der Waals damping constant

<tr><td><td>{{ form.hlande }} Land&eacute; factor

<tr><td><td>{{ form.hterm }} Term designation

<tr><td colspan=2><hr>
<tr><td><a href="{% url 'vald:persconf' %}">Linelist configuration</a>
<td>{{ form.pconf }}

<tr><td colspan=2><hr>
<tr><td>Optional comment for request<td>{{ form.subject }}
</table>

<td class="unitcell">{% include "vald/_unitfields.html" %}

</table>

<hr>
<input type="hidden" name="reqtype" value="extractelement">
<input type="submit" value="Submit request">

</form>
{% endblock %}
