{% extends "vald/base.html" %}

{% block extra_head %}
<script>
var wavelabel1 = "wavelength";
var wavelabel2 = "&Aring;";
if (("{{ waveunit }}" == "angstrom") && ("{{ medium }}" == "air")   ) {wavelabel2 = "&Aring; (air)"}
if (("{{ waveunit }}" == "angstrom") && ("{{ medium }}" == "vacuum")) {wavelabel2 = "&Aring; (vacuum)"}
if (("{{ waveunit }}" == "nm")       && ("{{ medium }}" == "air")   ) {wavelabel2 = "nm (air)"}
if (("{{ waveunit }}" == "nm")       && ("{{ medium }}" == "vacuum")) {wavelabel2 = "nm (vacuum)"}
if (("{{ waveunit }}" == "1/cm")                               ) {wavelabel1 = "wavenumber"; wavelabel2 = "1/cm (vacuum)"}
</script>
{% endblock %}

{% block content %}
<form name="bottomform" method="post" action="{% url 'vald:submit_request' %}">
{% csrf_token %}
<table border=0 cellpadding=0 width="100%">

<tr><td colspan=2>
<hr><h3>Extract Element</h3><hr>

<tr><td><a href="{% url 'vald:unitselection' %}">Unit selection</a>
<td><i>Energy unit: {{ energyunit }} - Medium: {{ medium }} - Wavelength unit: {{ waveunit }} - VdW syntax: {{ vdwformat }}</i>
<tr><td colspan=2><hr>

<p><tr><td>Starting <script>document.write(wavelabel1);</script> :
<td>{{ form.stwvl }} <script>document.write(wavelabel2);</script>

<tr><td>Ending <script>document.write(wavelabel1);</script> :
<td>{{ form.endwvl }} <script>document.write(wavelabel2);</script>

<tr><td>Element [ + ionization ] : <td>{{ form.elmion }}

<tr><td>Extraction format : <td>
{% for radio in form.format %}<div>{{ radio }}</div>{% endfor %}

<tr><td>Retrieve data via
<td>{% for radio in form.viaftp %}<div>{{ radio }}</div>{% endfor %}
<tr><td colspan=2><hr>
<tr><td>Hyperfine structure<td>{{ form.hfssplit }} Include HFS splitting
<tr><td colspan=2><hr>
<tr><td>Require lines to have a known value of : <td>
{{ form.hrad }} Radiative damping constant

<tr><td><td>{{ form.hstark }} Stark damping constant

<tr><td><td>{{ form.hwaals }} Van der Waals damping constant

<tr><td><td>{{ form.hlande }} Land&eacute; factor

<tr><td><td>{{ form.hterm }} Term designation

<tr><td colspan=2><hr>
<tr><td><a href="{% url 'vald:persconf' %}">Linelist configuration</a>
<td>{% for radio in form.pconf %}<div>{{ radio }}</div>{% endfor %}

<tr><td colspan=2><hr>
<tr><td>Optional comment for request<td>{{ form.subject }}
<tr><td colspan=2><hr>

<tr>
<input type="hidden" name="reqtype" value="extractelement">
<td><input type="submit" value="Submit request">

</table>
</form>
{% endblock %}
