{% extends "vald/base.html" %}

{% block content_class %}{% endblock %}

{% block content %}
<div class="pagehead">
  <div class="pagehead-titles">
    <h1>Extract All</h1>
    <span class="pagesub">Every species within a spectral interval.</span>
  </div>
</div>

<form name="bottomform" method="post" action="{% url 'vald:submit_request' %}">
{% csrf_token %}

{% include "vald/_unitfields.html" %}

<div class="card requestcard">
  {% include "vald/_wavelengthrange.html" %}
  {% include "vald/_extracttail.html" %}
  <div class="card-foot">
    <input type="hidden" name="reqtype" value="extractall">
    <button type="submit" class="btn-primary">Submit request</button>
  </div>
</div>

</form>
{% endblock %}
