{% extends "vald/base.html" %}

{% block topframe %}
<h2>Password Reset</h2>
<p>Reset your VALD account password</p>
{% endblock %}

{% block content %}
<h2>Request Password Reset</h2>
<hr>

<p>Forgot your password? Enter your email address below and we'll send you a link to reset it.</p>

<form method="post" action="{% url 'vald:request_password_reset' %}">
{% csrf_token %}
<table border="0" cellpadding="5">
  <tr>
    <td><b>{{ form.email.label }}:</b></td>
    <td>{{ form.email }}</td>
  </tr>
  <tr>
    <td colspan="2"><br><input type="submit" value="Send Password Reset Email"></td>
  </tr>
</table>
</form>

<hr>

<p><a href="{% url 'vald:index' %}">← Back to Home</a></p>

{% endblock %}
