{% extends "vald/base.html" %}

{% block content_class %}{% endblock %}

{% block content %}
<div class="pagehead">
  <div class="pagehead-titles">
    <h1>Set a new password</h1>
    <span class="pagesub">For {{ user_name }}.</span>
  </div>
</div>

<div class="card" style="max-width: 520px;">
  <form class="card-body" method="post" action="{% url 'vald:reset_password' token %}">
    {% csrf_token %}
    <div class="loginfields">
      <label class="stacked" for="{{ form.password.id_for_label }}">{{ form.password.label }}
        {{ form.password }}
      </label>
      <label class="stacked" for="{{ form.password_confirm.id_for_label }}">{{ form.password_confirm.label }}
        {{ form.password_confirm }}
      </label>
    </div>
    {% include "vald/_passwordrules.html" %}
    <div class="btn-row" style="margin-top: 14px;">
      <button type="submit" class="btn-primary">Set password</button>
      <a class="hint" href="{% url 'vald:index' %}">Back to the front page</a>
    </div>
  </form>
</div>
{% endblock %}
