{% extends "vald/base.html" %}

{% block content %}
<h3>Linelist configuration: {{ config.name }}</h3>

{% if config.description %}<p><i>{{ config.description }}</i>{% endif %}

<p>{{ linelists|length }} linelist{{ linelists|pluralize }}, {{ enabled_count }}
active. This is one of the configurations offered on the request forms; it is shown
read-only. To change linelist settings for your own requests, use the
<a href="{% url 'vald:persconf' %}">personal configuration</a> page, which starts
from a copy of one of these.

<table border=1 cellpadding=3>
<tr align=center>
<th>ID<th>Active<th>Name<th>WL<th>gf<th>rad<th>stark<th>waals<th>lande<th>term<th>vdw<th>zeeman

{% for linelist in linelists %}
<tr align=center>
<td align="right">{{ linelist.id }}</td>
<td>{% if linelist.is_enabled %}yes{% else %}no{% endif %}</td>
<td align="left">{{ linelist.name }}</td>
{% for rank in linelist.ranks %}<td>{{ rank }}</td>{% endfor %}
{% endfor %}
</table>
{% endblock %}
